<!DOCTYPE html>

<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="robots" content="noindex,nofollow" />    <title>ryangraham.me</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon" />
</head>

<body>
    <div class="container">
    <div class="content">
        <img id="userPhoto" src="img/avatar.svg" alt="User Photo">

        <h1><a href="#" id="userName" rel="noopener">@GRAHAMR975</a></h1>
        <div id="links">
            <a class="link" href="https://github.com/grahamr975"  rel="noopener">💾 Github</a>
        </div>

        <footer>
            Hello there. </footer>
    </div>
</div>


</body>

</html>
